{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ news.news_title }}
{% endblock %}

{% block content %}
	<h1>{{ news.news_title }}</h1>
    <h3>{{ news.news_pub_date }}</h3>
    <img src="{% static news.news_image %}" alt="" width="400" style="float: right">
    <p>{{ news.news_content}}</p>
    <h6>{{ news.news_author }}</h6>

    {% if user == news.news_author %}
        <a href="{% url 'update_news' news.pk %}"><button>Update news</button></a>
        <br>
        <a href="{% url 'news_delete' news.pk %}"><button>Delete news</button></a>
    {% endif %}

{% endblock %}