{% extends 'base.html' %}

{% block title %}
    Send emails to users
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ block.super }}</div>

                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject:</label>
                            <input type="text" class="form-control" id="subject" name="subject">
                        </div>

                        <div class="mb-3">
                            <label for="text" class="form-label">Text:</label>
                            <textarea class="form-control" id="text" name="text" rows="5"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
